.card{
    display: flex;
    flex-direction: row;
    height: 200px;
}

h2{
    color: #1976d2;
}

img{
    height: 100%;
    width: 30%;
    flex: none; /* equivalent to 'flex: 0 0 auto;' */
    object-fit: scale-down;
    margin-right: 1em;
}

.info{
    flex: auto; /* equivalent to 'flex: 1 1 auto;' */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date{
    flex: initial; /* equivalent to 'flex: 0 1 auto;' */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
